.nav{
    background-color: black;
    height: 10%;
}
li{
   float: right;
   color: white;
   text-decoration:none;
   padding-left: 4px;

   
}
.nav-links{
    list-style: none;
}
ul{
    list-style: none;
    text-decoration:none;
}
li a {
    color:white;
    text-decoration: none;
}